.button {
    position: fixed; /* Позиционируем кнопку относительно окна браузера */
    top: 20px; /* Отступ от верхнего края */
    right: 20px; /* Отступ от правого края */
    background-color: brown;
    color:black
}
.welcome {
    position: fixed; /* Позиционируем кнопку относительно окна браузера */
    top: 20px; /* Отступ от верхнего края */
    right: 100px; /* Отступ от правого края */
    background-color: brown;
    color:black
}
/* CSS код для установки одинакового размера для всех изображений */

/* Стили для контейнера с изображениями */
/* CSS код для установки одинакового размера для всех изображений */

/* Стили для контейнера с изображениями */
.img-fluid {
    display: flex; /* Устанавливаем flex-контейнер для изображений */
    flex-wrap: wrap; /* Разрешаем перенос строк, если изображения не влезают в одну строку */
    justify-content: center; /* Выравниваем изображения по центру */
}

/* Стили для каждого изображения */
.img {
    max-width: 200px; /* Максимальная ширина изображения */
    max-height: 200px; /* Максимальная высота изображения */
    margin: 10px; /* Отступы между изображениями */
    object-fit: cover; /* Масштабируем изображение так, чтобы оно полностью заполнило контейнер без искажений */
}


